@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-twitter-blue {
  background-color: #1da1f2;
}

.react-tel-input .form-control {
  @apply !w-full py-6 !text-base;
}

.opt-container {
  @apply flex justify-between gap-2;
}
.opt-container input {
  @apply !mr-0 flex-1 py-5 outline-none;
}

.custom-button {
  @apply bg-blue-700 text-white;
}

.custom-button:hover {
  @apply bg-emerald-600;
}

.dropbtn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 100%; /* Display dropdown below the parent element */
  left: 0; /* Align dropdown with the left edge */
  margin-top: 4px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: darkblue;
  color: white;
}

.show {
  display: block;
}


